@import '../../_variables.scss';
$green-off: #006600;
$green-on: #4ca64c;
$red-off: #cc0000;
$red-on: #ff4c4c;
$yellow-off: #cccc00;
$yellow-on: #ffff4c;
$blue-off: #0000cc;
$blue-on: #4c4cff;

.game-btn {
  width: $btn-size;
  height: $btn-size;
  position: inherit;
}

.green-btn {
  @extend .game-btn;
  top: $btn-offset;
  left: $btn-offset;
  border-top-left-radius: 100%;
  background-color: $green-off;
}

.green-btn-force {
  @extend .green-btn;
  background-color: $green-on;
  box-shadow: 0 0 14px 4px $green-on;
}

.green-btn-on {
  @extend .green-btn;
  &:active {
    background-color: $green-on;
    box-shadow: 0 0 14px 4px $green-on;
  }
}

.red-btn {
  @extend .game-btn;
  top: $btn-offset;
  right: $btn-offset;
  border-top-right-radius: 100%;
  background-color: $red-off;
}

.red-btn-force {
  @extend .red-btn;
  background-color: $red-on;
  box-shadow: 0 0 14px 4px $red-on;
}

.red-btn-on {
  @extend .red-btn;
  &:active {
    background-color: $red-on;
    box-shadow: 0 0 14px 4px $red-on;
  }
}

.yellow-btn {
  @extend .game-btn;
  bottom: $btn-offset;
  left: $btn-offset;
  border-bottom-left-radius: 100%;
  background-color: $yellow-off;
}

.yellow-btn-force {
  @extend .yellow-btn;
  background-color: $yellow-on;
  box-shadow: 0 0 14px 4px $yellow-on;
}

.yellow-btn-on {
  @extend .yellow-btn;
  &:active {
    background-color: $yellow-on;
    box-shadow: 0 0 14px 4px $yellow-on;
  }
}

.blue-btn {
  @extend .game-btn;
  bottom: $btn-offset;
  right: $btn-offset;
  border-bottom-right-radius: 100%;
  background-color: $blue-off;
}

.blue-btn-force {
  @extend .blue-btn;
  background-color: $blue-on;
  box-shadow: 0 0 14px 4px $blue-on;
}

.blue-btn-on {
  @extend .blue-btn;
  &:active {
    background-color: $blue-on;
    box-shadow: 0 0 14px 4px $blue-on;
  }
}